.table-structure {
    width: 400px;
    margin-top: 50px;
    margin-left: 450px;
    border-collapse: collapse;
}

.table-header {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.table-structure td {
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

.Balance-container{
    background-image: url('./bg.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 100%;
  }
