/* body {
    background-image: url('landing_page.png');
    background-repeat: no-repeat;
    background-size: cover;
}  */
  .landingContainer .btn {
    display: grid; 
    grid-template-columns: repeat(1, 5fr);
    gap: 0px;
    grid-row-gap: 0%;
    height: 45px;
    padding: 10px;
    width: 350px;
    top:50%
    
  }
  .landingContainer {
    position: absolute;
    margin-top: 22%;
  } 
  
  

  
  