.progress-bar-container {
    position: relative;

  }
  
  .atm-img {
    position: absolute;
    top: 0;
    left: 0;
}
  
  .progress-bar {
    position:absolute;
    max-width: 488px;
    top: 10px;
    left: 450px;
    width: 50px;
    height: 94px;
    margin-block-end: 100%;
    background-color: green;
    background: green;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .background{
    background-color: rgb(174, 131, 75);
  }